<!DOCTYPE html>
<html lang="en">

{% include "blog/header.html" %}

    <body class="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WMS8DZ"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

        <div class="header container">

            <svg class="svg-icon svg-heart" width="30" height="30" viewBox="0 0 30 30"><path d="M19.5 4c-1.948 0-3.77.898-5 2.434C13.27 4.898 11.448 4 9.5 4 5.916 4 3 7.02 3 10.734c0 4.793 6.227 10 9.95 13.11.296.25.853.723 1.212 1.03.196.166.48.166.677 0 .39-.332 1.02-.87 1.37-1.158 3.66-3.022 9.79-8.08 9.79-12.982C26 7.02 23.08 4 19.5 4z" fill-rule="evenodd"></path></svg>
            <h1>Takdeer Kaur</h1>

        {% block content %}
        {% endblock %}

        </div>

    {% include "blog/footer.html" %}


    </body>

</html>